USE [master]
GO
/****** Object:  Database [Pizza Sales]    Script Date: 27-07-2025 14:55:25 ******/
CREATE DATABASE [Pizza Sales]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Pizza Sales', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Pizza Sales.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Pizza Sales_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Pizza Sales_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Pizza Sales].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Pizza Sales]
GO
/****** Object:  Table [dbo].[pizza_sales]    Script Date: 27-07-2025 14:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pizza_sales](
	[pizza_id] [int] NOT NULL,
	[order_id] [int] NOT NULL,
	[pizza_name_id] [nvarchar](50) NOT NULL,
	[quantity] [tinyint] NOT NULL,
	[order_date] [date] NOT NULL,
	[order_time] [time](7) NOT NULL,
	[unit_price] [float] NOT NULL,
	[total_price] [float] NOT NULL,
	[pizza_size] [varchar](50) NOT NULL,
	[pizza_category] [varchar](50) NOT NULL,
	[pizza_ingredients] [varchar](200) NOT NULL,
	[pizza_name] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
